.kev-devo {
	background-color: gray;
}
.portfolio {
	background-color: lightsteelblue;
}
.about {
	background-color: gray;
}
.contact {
	background-color: lightsteelblue;
}

.github {
	color: black;
}

.linkedin {
	color: black;
}